# Xcode
#
# gitignore contributors: remember to keep this file platform-agnostic
# gitignore test builds, just add the path to the platforms you use
#
# Created by https://www.toptal.com/developers/gitignore/api/swift,xcode
# Edit at https://www.toptal.com/developers/gitignore?templates=swift,xcode

### Xcode ###
# Mapped to UserInterfaceState.xcuserstate
build/
DerivedData/

## User-specific configurations
# This is the most important line for your question!
xcuserdata/

## Other
*.moved-aside
*.xcuserstate
*.xcscmblueprint

# Swift Package Manager
#
# Add this line if you want to avoid checking in source code from Swift Package Manager dependencies.
# Usually, you only want to check in the Package.resolved file.
.build/
Packages/
SourcePackages/

# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# https://guides.cocoapods.org/using/using-cocoapods.html#should-i-check-the-pods-directory-into-source-control
#
# Pods/

# Carthage
#
# Add this line if you use Carthage.
# Carthage/Build

# Fastlane
#
# It is recommended to not store the screenshots in the git repo.
# Instead, use fastlane to re-generate the screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/
#
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# End of https://www.toptal.com/developers/gitignore/api/swift,xcode